.features {
  width: 300px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.features__headline {
  margin-top: 20px;
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
  color: inherit;
}

.features-list__item {
  color: @special_dark-grey;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-bottom: 26px;
  padding-right: 10px;
  padding-left: 80px;
  position: relative;
}

.healthy-food::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: -5px;
  background: url("../../img/features/healthy-food.svg");
}

.powder-food::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: -5px;
  background: url("../../img/features/powder-food.svg");
}

.hearty-food::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: -5px;
  background: url("../../img/features/hearty-food.svg");
}

.time-food::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: -5px;
  background: url("../../img/features/time-food.svg");
}
