.page-header{
  display: grid;
  width: 320px;
  display: flex;
  justify-content: center;

  // outline: 5px solid red;
  // outline-offset: -5px;
}

.main-nav{
  width: 280px;
  height: 38px;
  margin-top: 11px;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;

  // outline: 5px solid rgb(203, 255, 13);
  // outline-offset: -5px;
}

.page-header__block{
  display: flex;
  justify-content: space-between;
  align-items: center;

  // outline: 5px solid rgb(77, 38, 182);
  // outline-offset: -5px;
}

.wrapper{
  width: 320px;
}

.site-nav{
  // outline: 5px solid rgb(245, 205, 28);
  // outline-offset: -5px;
}

.main-nav__toggle{
  background: none;
  border: none;
}
